.sideMenuLeft{      /* Боковое левое меню */
	position: fixed;
	margin: 0px; 
	padding: 10px;
    max-height: 600px;
	height: 60%;
    min-height: 100px; 
	max-width: 300px;
    width: 20%;
    min-width: 50px; 
    top: 20%; 
	left: 0%; 
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
	border-radius: 0px 30px 30px 0px;
    overflow: auto;
    direction: rtl;
    border: 3px outset rgb(150, 150, 150);
}
.sideMenuLeft > *{
    direction: ltr;
}
.sideMenuRight{
	position: fixed;
	margin: 0px; 
	padding: 10px;
	height: 600px; 
	width: 300px;
    top: 180px; 
	right: 0%;  
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
	border-radius: 30px 0px 0px 30px;
    overflow: auto;
}
.sideMenuTitle{
    padding: 5px;
    font-size: 22pt;
    text-align: center;
    position: sticky;
}
.sideMenuElement {
    position: relative;
    white-space: nowrap;
    border: 3px outset rgb(150, 150, 150);
    border-radius: 10px;
    margin-bottom: 10px;
}
.sideMenuElementIconLeft{
    position: relative;
    width: 30%;
    height: 100%;
    padding: 5px;
    display: inline-block;
}
.sideMenuElementIconLeftIMG{
    height: 80px;
}
.sideMenuElementIconParametrTopLeft{
    position: absolute;
    top: 6px;
    left: 6px;
}
.sideMenuElementDescription{
    vertical-align: top;
    top: 0px;
    overflow-wrap: break-word;
    padding: 5px;
    display: inline-block;
}
.sideMenuElementBtn{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 8px;
    height: 25%;
    min-height: 15px;
    width: 25%;
    min-width: 50px;
}
.centralMenuBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur();
}
.centralMenu{
    position: absolute;
    padding: 1%;
    padding-top: 70px;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    background: rgb(41, 41, 41);
    border: 3px outset rgb(150, 150, 150);
    border-radius: 40px;
}
.btnCloseCircule{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    font-size: 15pt;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
}
.moneyTopRight{
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 20pt;
    font-weight: bold;
}
.moneyTopRightNum{
    display: inline-block;
}
.centralMenuInfo{
    margin: 10px;
    padding: 20px;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
}
.centralMenuElement{
    margin: 20px;
    margin-left: 3.8%;
    margin-right: 3.8%;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    border: 3px outset rgb(150, 150, 150);
    border-radius: 10px;
    background-color: #202020;
    width: 40%;
}
.centralMenuElementTitle{
    font-size: 16pt;
    font-weight: bold;
    color: white;
    text-align: center;
}
.centralMenuElementDescription{
    position: relative;
    padding: 5px;
    min-height: 60px; 
    color: white;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    z-index: 0;
}
.centralMenuElementBtn{
    position:relative;
    height: 30%;
    width: 30%;
    bottom: 5%;
    left: 35%;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    background: rgb(41, 41, 41);
    border: 3px outset rgb(150, 150, 150);
    border-radius: 40px;
    z-index: 2;
}
.disabled, .disabled > *{
    background-color: #303030;
    color: #606060;
}