.sideMenuLeft{
	position: fixed;
	margin: 0px; 
	padding: 10px;
    max-height: 600px;
	height: 60%;
    min-height: 100px; 
	max-width: 300px;
    width: 20%;
    min-width: 50px; 
    top: 20%; 
	left: 0%; 
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
	border-radius: 0px 30px 30px 0px;
    overflow: auto;
    direction: rtl;
}
.sideMenuLeft > *{
    direction: ltr;
}
.sideMenuRight{
	position: fixed;
	margin: 0px; 
	padding: 10px;
	height: 600px; 
	width: 300px;
    top: 180px; 
	right: 0%;  
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
	border-radius: 30px 0px 0px 30px;
    overflow: auto;
}
.sideMenuTitle{
    padding: 5px;
    font-size: 22pt;
    text-align: center;
    position: sticky;
}
.sideMenuElement {
    position: relative;
    white-space: nowrap;
    border: 3px outset rgb(150, 150, 150);
    border-radius: 10px;
    margin-bottom: 10px;
}
.sideMenuElementIconLeft{
    position: relative;
    width: 30%;
    height: 100%;
    padding: 5px;
    display: inline-block;
}
.sideMenuElementIconParametrTopLeft{
    position: absolute;
    top: 6px;
    left: 6px;
}
.sideMenuElementDescription{
    vertical-align: top;
    top: 0px;
    overflow-wrap: break-word;
    padding: 5px;
    display: inline-block;
}
.sideMenuElementBtn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 8px;
    height: 25%;
    min-height: 15px;
    width: 25%;
    min-width: 50px;
}