 *{
    font-family: 'Courier New', Courier, monospace;
 }
.rightText{
    width: 100%;
    text-align: right;
 }
 #hpTitleID, #profitTitleID, #bossLevelBonusID{
    width: 100%;
    text-align: center;
 }
 .bossLevelBonusCls{
    width: 10%;
    height: 50px;
    margin: 10px;
    z-index: 1;
 }
 #pupmsTitle{
    font-size: 25pt;
 }
 .pumpBtn{
   height: 80px;
   width: 15%;
   min-width: 90px;
 }
 h1, h2{
    width: 100%;
    text-align: center;
 }
 .inline-block{
    display: inline-block;
 }
 footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 #hpBarID{
    background-color: brown;
    width: 100%;
    height: 20px;
 }
 #hpBarBorderID {
    background-color: rgb(253, 117, 117);
    width: 30%;
    height: 20px;
    position: fixed;
    left: 35%;
    top: 13%;
    border: solid 2px;
 }
 .level {
    font-size: 16pt;
    font-weight:bold;
 }
 body {
    overflow: hidden;
 }
 #expID{
    color: white;
 }
 #hpMinusOnePercentLevelID, #profitUpLevelID, #costOfPumpLevelID {
    background-color: rgba(0, 0, 0, 0);
 }
 #layerID {
   position: absolute;
   bottom: 0%;
   height: 33%;
 }
#layerImgID {
   position: relative;
   left: 15%;
   width: 70%;
}
body {
   background-image: linear-gradient(rgba(50,50,50,0.8), rgba(50,50,50,0.8)), url(img/background-4x.png);
   background-size: 1500px;
}
