 *{
    font-family: 'Courier New', Courier, monospace;
 }
#moneyTitleID, #counterTitleID{
    width: 100%;
    text-align: right;
 }
 #hpTitleID, #profitTitleID, #bossLevelBonusID{
    width: 100%;
    text-align: center;
 }
 #hitID{
   height: 100px;
   width: 22%;
   position: absolute;
   top: 45%;
   left: 39%;
   min-width: 150px; 
 }
 .bossLevelBonusCls{
    width: 10%;
    height: 50px;
    margin: 10px;
 }
 #pupmsTitle{
    font-size: 25pt;
 }
 .pumpBtn{
   height: 80px;
   width: 15%;
   min-width: 90px;
 }
 h1, h2{
    width: 100%;
    text-align: center;
 }
 .inline-block{
    display: inline-block;
 }
 footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 #hpBarID{
    background-color: brown;
    width: 100%;
    height: 20px;
 }
 #hpBarBorderID {
    background-color: rgb(253, 117, 117);
    width: 30%;
    height: 20px;
    position: fixed;
    left: 35%;
    top: 13%;
    border: solid 2px;
 }