 *{
    font-family: 'Courier New', Courier, monospace;
 }
 #moneyID, #moneyTitleID{
    width: 100%;
    text-align: right;
 }
 #hpID, #hpTitleID, #profitTitleID, #profitID{
    width: 100%;
    text-align: center;
 }
 #hitID{
   height: 100px;
   width: 500px;
   position: absolute;
   top: 50%;
   left: 37%; 
 }
  #hitPlusOneID{
   height: 80px;
   width: 300px;
 }
 h1{
    width: 100%;
    text-align: center;
 }
 #hitPlusOneCostID{
    display: inline-block;
 }
 footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
 }