 *{
    font-family: 'Courier New', Courier, monospace;
    touch-action: manipulation; /*  отключить двойной тап на сенсорных устройствах для увеличения  */
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* убираем синию подсветку при тапе на элементы */
    overflow: hidden; /* что бы экран не расширялся на телефоне из-за появления элементов за границей*/
 }
.rightText{
    text-align: right;
 }
 #hpTitleID, #profitTitleID, #bossLevelBonusID{
    width: 100%;
    text-align: center;
 }
 #bossLevelBonusID{
   position: absolute;
   left: 30%;
   background: rgba(41, 41, 41, 0.8);
    border: 3px outset rgb(150, 150, 150);
    border-radius: 25px;
    width: 40%;
    /* height: 90px; */
    min-width: 100px;
 }
 .bossLevelBonusCls{
    width: 25%;
    height: 50px;
    margin: 10px;
    z-index: 1;
    cursor: pointer;
    color: white;
    background-color: #606060;
    border-radius: 3px;
 }
 #pupmsTitle{
    font-size: 25pt;
 }
 .pumpBtn{
   height: 80px;
   width: 15%;
   min-width: 90px;
 }
 h1, h2{
    width: 100%;
    text-align: center;
    margin: 0;
 }
 .inline-block{
    display: inline-block;
 }
 footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
 }
 #hpBarID{
    background-color: brown;
    width: 100%;
    height: 20px;
 }
 #hpBarBorderID {
    background-color: rgb(253, 117, 117);
    width: 30%;
    height: 20px;
    position: fixed;
    left: 35%;
    top: 13%;
    border: solid 2px;
 }
 .level {
    font-size: 16pt;
    font-weight:bold;
 }
 #expID{
    color: white;
 }
 #hardnessLevelID, #profitLevelID, #costPumpLevelID, #autoBonusLevelID, #percentMoneyLevelID, #speedAutoHitLevelID, #expPlusLevelID {
    background-color: rgba(0, 0, 0, 0);
 }
 #layerID {
   position: absolute;
   top: 60%;
   width: 100%; 
   height: 40%;
 }
#hitZoneID:hover {
    cursor: url('img/pickaxe_transparent_128x128.png') 64 64, pointer;
 }
 #hitZoneID:active {
    cursor: url('img/pickaxe_transparent_128x128-45.png') 64 64, pointer;
 }
#layerImgID{
   /* box-shadow: 1px 0px 35px 35px rgba(0, 0, 0, 0.3); */
   top: 0px;
   background: url("img/layer.png");
   /* background: rgba(0, 0, 0, 0.3);  */
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
   width: 100%;
   min-width: 60%;
   visibility: visible;
   object-fit: cover;
   object-position: top;
}
#cracksID{
   top: 0px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   height: 0%;
   width: 100%;
   min-width: 60%;
   visibility: visible;
   object-fit: cover;
   object-position: top; 
}
html {
   height: 100%;
   width: 100%;
}
body {
   overflow: hidden;
   min-width: 300px;
   min-height: 300px;
   height: 100%;
   width: 100%;
   background-image: url(img/background.png);
   background-position: 0% 0%;
   background-size: 1200px;
   height: 100%;
   transition: background-position 0.7s ease-out;
   backdrop-filter: grayscale(70%);
   backdrop-filter: saturate(30%);
   /* backdrop-filter: hue-rotate(10deg); */
   backdrop-filter: blur(1px);
   margin: 0%;
}
#bossLevelBonusID {
   color: white;
}
#infoExpID{
   position: relative;
   display: flex;
   height: 6%;
   width: 50%;
   margin: 0px;
}
#rebootExpBtnID {
   position: absolute;
   width: 10%;
   height: 40%;
   bottom: 5%;
   margin: 0px;
}
#rebootExpDesID {
   width: 100%;
   margin: 0px;
}

.imgAutoHit{
   position: absolute;
   height: 10%;
   top: -10%;
   opacity: 100%;
   /* transform: rotate(180deg); */
   /* transform: translateY(100px); */
   transition: top 3s linear, transform 3s linear, opacity 3s ease-in;
}

#menuForCoins{
   z-index: 2;
}

#bookID{
   height: 80px;
}

.coinCl, .expCl{
   height: 20px;
}