 *{
    font-family: 'Courier New', Courier, monospace;
    touch-action: manipulation; /*  отключить двойной тап на сенсорных устройствах для увеличения  */
 }
.rightText{
    width: 100%;
    text-align: right;
 }
 #hpTitleID, #profitTitleID, #bossLevelBonusID{
    width: 100%;
    text-align: center;
 }
 #bossLevelBonusID{
   position: absolute;
   left: 30%;
   background: rgba(41, 41, 41, 0.8);
    border: 3px outset rgb(150, 150, 150);
    border-radius: 25px;
    width: 40%;
    /* height: 90px; */
    min-width: 100px;
 }
 .bossLevelBonusCls{
    width: 25%;
    height: 50px;
    margin: 10px;
    z-index: 1;
    cursor: pointer;
    color: white;
    background-color: #606060;
    border-radius: 3px;
 }
 #pupmsTitle{
    font-size: 25pt;
 }
 .pumpBtn{
   height: 80px;
   width: 15%;
   min-width: 90px;
 }
 h1, h2{
    width: 100%;
    text-align: center;
 }
 .inline-block{
    display: inline-block;
 }
 footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 #hpBarID{
    background-color: brown;
    width: 100%;
    height: 20px;
 }
 #hpBarBorderID {
    background-color: rgb(253, 117, 117);
    width: 30%;
    height: 20px;
    position: fixed;
    left: 35%;
    top: 13%;
    border: solid 2px;
 }
 .level {
    font-size: 16pt;
    font-weight:bold;
 }
 body {
    overflow: hidden;
 }
 #expID{
    color: white;
 }
 #hpMinusOnePercentLevelID, #profitUpLevelID, #costOfPumpLevelID {
    background-color: rgba(0, 0, 0, 0);
 }
 #layerID {
   position: absolute;
   bottom: 0%;
   width: 100%; 
   height: 33%;
 }
#layerImgID {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   min-width: 70%;
   box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.3);
}
body {
   background-image: url(img/background-4x2.png);
   background-position: 0% 0%;
   background-size: 2000px;
   height: 100%;
}